
<h1>{{title}}</h1>

<h2>{{body}}</h2>

{{sha}}

<form action="/submit" method="post" id="usrform">
	<div class="input-group input-group-md">
		<input type="text" name="message" placeholder="Daily Message">
		<input type="text" name="commit" placeholder="Commit Message">
		<button type="submit" class="btn">Submit</button>
	</div>
</form>