<div class="page-header">
<h3>Instructions</h3>
<p>This is a page dedicated to say specific instructions about this application</p>>
</div>
<div>
 <ul class="list-group">
  <li class="list-group-item">First Instruction</li>
  <li class="list-group-item">Second Instruction</li>
  <li class="list-group-item">Third Instruction</li>
</ul> 
</div>